@import "tailwindcss";

:root{
  --color-secoundary: #fca311;
  --font-inter: 'Inter', sans-serif;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
   font-family: var(--font-inter);
}


.myclass{
  background-image: radial-gradient(circle, white 1px, transparent 1px);
  background-size: 16px 16px;
  opacity: 0.04;

}
